* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  align-content: center;
  row-gap: 20px;
  background-color: #555;
}

.mist {
  background: linear-gradient(45deg, #a73728, #df643f);
}
.sunset {
  background: linear-gradient(45deg, #96577f, #fa8e44);
}
.vibes {
  background: linear-gradient(45deg, #21c4d3, #f9ece4);
}
.moss {
  background: linear-gradient(45deg, #696c20, #84bd26);
}

.btn {
  width: 350px;
  height: 100px;
  padding: 15px;
  border-radius: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
  transition: 0.5s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:hover .iconBox {
  border-radius: 50px;
}

.btn p {
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  color: #222;
}

.btn i {
  margin-right: 15px;
  font-size: 26px;
  color: #222;
}

.iconBox {
  width: 70px;
  height: 70px;
  background: rgb(238, 238, 238);
  border-radius: 50px 50px 50px 0;
  position: relative;
  transition: 0.5s ease;
}

.iconBox i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.downloads, .search, .stats, .favorites {
    transition: 0.5s ease;
  }

.btn:hover .iconBox .favorites {
  color: #84bd26;
}

.btn:hover .iconBox .search {
  color: #fa8e44;
}

.btn:hover .iconBox .downloads {
  color: #a73728;
}

.btn:hover .iconBox .stats {
  color: #21c4d3;
}
